* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(13deg, #a15aff, #cca4ff, #e6d3ff, #baf4ff, #b1ffd4, #77ffb4, #3fff95);
    background-size: 300%;
    box-shadow:
        inset -5em -5em 10em rgba(0, 0, 0, 0.1),
        inset 5em 1em 10em rgba(0, 0, 0, 0.1);
    animation: movimiento 5s infinite;
    height: 955px;
}

@keyframes movimiento {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section {
    display: flex;
    align-items: center;
}

.logo img {
    width: 925px;
    height: 925px;
    margin-left: 100px;
}

.formulario {
    background: linear-gradient(135deg, #c090ff, #baf4ff, #62ffa9);
    width: 500px;
    padding: 30px;
    border-radius: 50px;
    border: solid white;
    border-width: 7px;
    color: #000000;
    box-shadow:
        inset 0.1em 0.1em 1em rgba(0, 0, 0, 0.123),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-left: 150px;
}


.formulario h1 {
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
}

.formulario a {
    color: #1100ff;
    font-size: 20px;
    transition: all 500ms;
    text-decoration: none;
}

.formulario a:hover {
    color: #ea00ff;
}

.formulario p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.campos {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(164, 92, 223);
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

::placeholder {
    color: rgb(0, 0, 0);
}

.submit {
    width: 100%;
    background: #01438a;
    padding: 10px;
    border-radius: 10px;
    border: solid aliceblue;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 500ms;
}

.submit:hover {
    scale: 1.03;
    color: #000000;
    background: #ffffff;
    border: #01438a solid;
}

.select {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(164, 92, 223);
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

label {
    font-size: 21px;
}

@media screen and (max-width: 1700px) {
    body {
        height: unset;
    }

    .logo img {
        margin-left: 0px;
    }

    .formulario {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1500px) {
    section {
        display: unset;
    }

    .logo {
        width: 550px;
        margin-left: 500px;
    }

    .logo img {
        width: 550px;
        height: 550px;
    }

    .formulario {
        margin-left: 500px;
    }
}

@media screen and (max-width: 1300px) {
    .logo {
        margin-left: 200px;
    }

    .formulario {
        margin-left: 200px;
    }
}

@media screen and (max-width: 850px) {
    .logo {
        margin-left: 100px;
    }

    .formulario {
        margin-left: 100px;
    }
}