@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: linear-gradient(13deg, #fabd88, #f7c69b, #ffe0c4, #ffd7e0, #ffabe0, #ffa8df, #fe95d7);
    background-size: 500%;
    animation: movimiento 5s infinite;
}

@keyframes movimiento {
    0%{
    background-position: 0% 50%;
    }    
    50%{
    background-position: 100% 50%;
    }
    100%{
    background-position: 0% 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    
}

:root {
    --color_text-primary: #000000;
    --color_text-secondary: #ffffff;
    --main_color-secondary: linear-gradient(13deg, #fabd88, #f7c69b, #ffe0c4, #ffd7e0, #ffabe0, #ffa8df, #fe95d7);
}

.principal{
    max-width: 97%;
    padding: 10px;
    margin: auto; 
}
.clases{
    width: 97%;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.choose{
    display: block;
    margin-right: 50px;
    border-bottom: 2px solid;
    border-radius: 0px;
    color: #000000;
    font-size: 20px;
    transition: 500ms;
}
.choose:hover{
    color: #ff5100;
}
.contenedor_vestuario{
    background: #ffffff;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    border-radius: 10px 10px 0px 0px;
    width: 70%;
    align-items: center;
    padding: 15px;
    margin: auto;
}

.productos_vestuario{
    text-align: center;
    width: 500px;
    margin: auto;
    border: 2px solid #f55000;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.productos_vestuario_img img{
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos_vestuario_img2 img{
    width: 44%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos_vestuario_img3 img{
    width: 42%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos_vestuario select{
    
    width: 120px;
    border: 2px solid #f55000;
    border-radius: 8px;
    transition: .3s;
    margin: 10px 5px;
    padding: 5px;
    cursor: pointer;
}

.productos_vestuario select:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.section{
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat( 1, 1fr);
    width: 70%;
    align-items: center;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}
.productos_vestuario_aparte{
    text-align: center;
    width: 500px;
    margin: auto;
    border: 2px solid #f55000;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
.productos_vestuario_aparte select{
    width: 120px;
    border: 2px solid #f55000;
    border-radius: 8px;
    transition: .3s;
    margin: 10px 5px;
    padding: 5px;
    cursor: pointer;
}

.productos_vestuario_aparte select:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.send{
    margin-top: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}


.next{
    color: #f55000;
    border-radius: 8px;
    padding: 8px 20px;
    transition: 500ms;
}



.next:hover{
    scale: 1.1;
    box-shadow: 0 0 10px #666;
}


@media screen and (max-width: 1540px) {
    .contenedor_vestuario{
        height: 1200px;
        grid-template-columns: repeat(1, 1fr);
    }
    .productos_vestuario{
        text-align: center;
        width: 500px;
        height: 250px;
    }
    .productos_vestuario_img{
        margin: auto;
        width: 300px;
    }
    .productos_vestuario_img2{
        margin: auto;
        width: 300px;
    }
    .productos_vestuario_img3{
        margin: auto;
        width: 300px;
    }
}

@media screen and (max-width: 800px){
    .contenedor_vestuario{
        height: 1200px;
        grid-template-columns: repeat(1, 1fr);
    }
    .productos_vestuario{
        text-align: center;
        width: 280px;
        height: 200px;
    }
    .productos_vestuario_aparte{
        text-align: center;
        width: 280px;
        height: 200px;
    }
    .productos_vestuario_img{
        margin: auto;
        width: 100px;
    }
    .productos_vestuario_img2{
        margin: auto;
        width: 100px;
    }
    .productos_vestuario_img3{
        margin: auto;
        width: 100px;
    }
}